<!DOCTYPE html>
<html lang="en">
<!------HEAD------>
<head>
    <%- include("../partials/head.ejs") %>
    <link rel='stylesheet' type='text/css' media='screen' href='/css/style.css'>
</head>
<body>

<!------HEADER DESKTOP AND MOBILE------>
<%- include("../partials/header.ejs") %>
    
<!------SECTION BAR. DE NAV. DESKTOP------>
<%- include("../partials/barraDeNavegacion.ejs") %>
    
    <!------FORM DE REGISTRO------>
    
    <section class="editProducts">
        <h1>EDITANDO PRODUCTO NUMERO <%= productos.id %></h1>
        <br>        
        <h3>Completá los datos del producto:</h3>
        <br>
        <div>
            <form id="form_editProduct" action="/products/<%= productos.id%>/edit?_method=PUT" method="POST" enctype="multipart/form-data">
            <div id = labelcontainer>
                <label for="id">ID:</label>
                <input id= "id" name="id" type="number" value="<%= productos.id %>" readonly>
            </div>
            <div>
                <label for="nombre">Nombre del producto:</label>
                <input id= "nombre_editProduct" name="nombre" type="text" value="<%= productos.nombre%>">
            </div>
            <div>
                <small style="color: red">
                    <%= (typeof errores != "undefined" && errores.nombre) ? errores.nombre.msg : '' %>
                </small>
            <div>
                <br>
                <div>
                    <label for="detalle">Descripción del producto:</label>
                    <input id= "detalle_editProduct" name="detalle" type="text" value="<%= productos.detalle%>">
                </div>
                <div>
                    <small style="color: red">
                        <%= (typeof errores != "undefined" && errores.detalle) ? errores.detalle.msg : '' %>
                    </small>
                <div>
                <br>
            <div>
                <label for="imagen">Imagen del producto</label>
                <input type="file" name="imagen" value="<%= productos.imagen%>" accept="image/jpeg, image/png, image/jpg"> <!-- limita el tipo de archivo a estas extenciones -->                
            </div>
                <br>
            <div>
                <label for="categoria_id">Categoría:</label><br><br>
                <label for="categoria">Aires acondicionados</label>
                <input type="radio" id="1" name="categoria" <%if(productos.categoria_id == "1"){%> 
                    checked
                <%}%>>
                <label for="categoria_id">Calefacción</label>
                <input type="radio" id="2" name="categoria" <%if(productos.categoria_id == "2"){%> 
                    checked
                <%}%>>
                <label for="categoria_id">Agua Caliente Sanitaria</label>
                <input type="radio" id="3" name="categoria" <%if(productos.categoria_id == "3"){%> 
                    checked
                <%}%>>
            </div>
                <br>
                <div>
                    <label for="precio">Precio:</label>
                    <input id= "precio_editProduct" name="precio" type="number" value="<%= productos.precio%>">
                </div>
                <div>
                    <small style="color: red">
                        <%= (typeof errores != "undefined" && errores.precio) ? errores.precio.msg : '' %>
                    </small>
                <div>
                <br>
            <div>
                <input id="submit_editProduct" type="submit" value="Editar">
            </div>
        </form>
    </section>
        
        <!------REDES SOCIALES DESKTOP------>
    <div class="container">
        <article class="redesDesktop">
            <a class="facebook" href="#"><i class="fab fa-facebook-square"></i></a>
            <a class="whatsapp" href="#"><i class="fab fa-whatsapp"></i></a>
            <a class="instagram" href="#"><i class="fab fa-instagram"></i></a>
        </article>
    </div>
<!------FOOTER DESKTOP AND MOBILE------>
<%- include("../partials/footer.ejs") %>
<script src="/js/productFormValidation.js"></script>
</body>
</html>