<!DOCTYPE html>
<html lang="en">
<!------HEAD------>
<head>
    <%- include("../partials/head.ejs") %>
    <link rel='stylesheet' type='text/css' media='screen' href='/css/style.css'>
</head>
<body>

<!------HEADER DESKTOP AND MOBILE------>
<%- include("../partials/header.ejs") %>
    
<!------SECTION BAR. DE NAV. DESKTOP------>
<%- include("../partials/barraDeNavegacion.ejs") %>
    
    <!------FORM DE REGISTRO------>
    
    <section class="newProducts">
        <h1>NUEVA PUBLICACIÓN</h1>
        <br>        
        <h3>Completá los datos del producto:</h3>
        <br>
        <div>
            <form id="form_newProduct" action="" method="POST" enctype="multipart/form-data">
                <div>
                    <small style="color: red">
                        <%= (typeof errores != "undefined" && errores.nombre) ? errores.nombre.msg : '' %>
                    </small>
                <div>
            <div>
                <label for="nombre">Nombre del producto:</label>
                <input id= "nombre_newProduct" name="nombre" type="text">
            </div>
                <br>
                <div>
                    <small style="color: red">
                        <%= (typeof errores != "undefined" && errores.descripcion) ? errores.descripcion.msg : '' %>
                    </small>
                    <div>
            <div>
                <label for="detalle">Descripción del producto:</label>
                <input id= "detalle_newProduct" name="detalle" type="text">
            </div>
                <br>
                <div>
                    <small style="color: red">
                        <%= (typeof errores != "undefined" && errores.imagen) ? errores.imagen.msg : '' %>
                    </small>
                    <div>
            <div>
                <label for="imagen">Imagen del producto</label>
                <input type="file" name="imagen" id="imagen_newProduct">
            </div>
                <br>
                <div>
                    <small style="color: red">
                        <%= (typeof errores != "undefined" && errores.categoria_id) ? errores.categoria_id.msg : '' %>
                    </small>
                    <div>
            <div>
                <label for="categoria_id">Categoría:</label><br><br>
                <label for="categoria_id">Aires acondicionados</label>
                <input type="radio" id="1_newProduct" name="categoria_id" value="1">
                <label for="categoria">Calefacción</label>
                <input type="radio" id="2_newProduct" name="categoria_id" value="2">
                <label for="categoria">Agua caliente sanitaria</label>
                <input type="radio" id="3_newProduct" name="categoria_id" value="3">
            </div>
                <br>
                <div>
                    <small style="color: red">
                        <%= (typeof errores != "undefined" && errores.precio) ? errores.precio.msg : '' %>
                    </small>
                    <div>
            <div>
                <label for="precio">Precio:</label>
                <input id= "precio_newProduct" name="precio" type="number">
            </div>
                <br>
            <div>
                <input id="submit_newProduct" type="submit" value="Confirmar">
            </div>
        </form>
    </section>
        
        <!------REDES SOCIALES DESKTOP------>
    <div class="container">
        <article class="redesDesktop">
            <a class="facebook" href="#"><i class="fab fa-facebook-square"></i></a>
            <a class="whatsapp" href="#"><i class="fab fa-whatsapp"></i></a>
            <a class="instagram" href="#"><i class="fab fa-instagram"></i></a>
        </article>
    </div>
<!------FOOTER DESKTOP AND MOBILE------>
<%- include("../partials/footer.ejs") %>
<script src="/js/formValidation.js"></script>
</body>
</html>