<!DOCTYPE html>
<html lang="en">
<!------HEAD------>
<head>
    <%- include("../partials/head.ejs") %>
    <link rel='stylesheet' type='text/css' media='screen' href='/css/style.css'>
</head>
<body>

<!------HEADER DESKTOP AND MOBILE------>
<%- include("../partials/header.ejs") %>
    
<!------SECTION BAR. DE NAV. DESKTOP------>
<%- include("../partials/barraDeNavegacion.ejs") %>
    
    <!------FORM DE REGISTRO------>
    
    <section class="newProducts">
        <h1>NUEVA PUBLICACIÓN</h1>
        <br>        
        <h3>Completá los datos del producto:</h3>
        <br>
        <div>
            <form action="" method="POST" enctype="multipart/form-data">
            <div>
                <label for="id">ID:</label>
                <input id= "id" name="id" type="number" value="<%= productos.length + 1 %>" readonly>
            </div>
            <div>
                <label for="nombre">Nombre del producto:</label>
                <input id= "nombre" name="nombre" type="text">
            </div>
                <br>
            <div>
                <label for="descripcion">Descripción del producto:</label>
                <input id= "descripcion" name="descripcion" type="text">
            </div>
                <br>
            <div>
                <label for="imagen">Imagen del producto</label>
                <input type="file" name="imagen">
            </div>
                <br>
            <div>
                <label for="categoria">Categoría:</label><br><br>
                <label for="categoria">Aires acondicionados</label>
                <input type="radio" id="aireAcon" name="categoria" value="Aire Acondicionado">
                <label for="categoria">Calefacción</label>
                <input type="radio" id="calefaccion" name="categoria" value="Calefaccion">
                <label for="categoria">Agua caliente sanitaria</label>
                <input type="radio" id="aguaCalienteSanitaria" name="categoria" value="Agua Caliente Sanitaria">
            </div>
                <br>
            <div>
                <label for="precio">Precio:</label>
                <input id= "precio" name="precio" type="number">
            </div>
                <br>
            <div>
                <input type="submit" value="Confirmar">
            </div>
        </form>
    </section>
        
        <!------REDES SOCIALES DESKTOP------>
    <div class="container">
        <article class="redesDesktop">
            <a class="facebook" href="#"><i class="fab fa-facebook-square"></i></a>
            <a class="whatsapp" href="#"><i class="fab fa-whatsapp"></i></a>
            <a class="instagram" href="#"><i class="fab fa-instagram"></i></a>
        </article>
    </div>
<!------FOOTER DESKTOP AND MOBILE------>
<%- include("../partials/footer.ejs") %>
</body>
</html>