<!DOCTYPE html>
<html>
<!------HEAD------>
    <head>
        <%- include("../partials/head.ejs") %>
        <link rel='stylesheet' type='text/css' media='screen' href='/css/style.css'>
    </head>
<body>

<!------HEADER DESKTOP AND MOBILE------>
<%- include("../partials/header.ejs") %>

<!------SECTION BAR. DE NAV. DESKTOP------>
<%- include("../partials/barraDeNavegacion.ejs") %>

<!------LISTADO DE PREDUCTOS------>
<h2 class="tituloProductos">Listado de Productos</h2>
<div class="container">

    <% if(typeof usuarioLogueado == "undefined" || !usuarioLogueado.tipo_usuario == 1){ %>
        <% for (let i = 0; i < productos.length; i++) { %>
            <a class="aProduct" href="/products/<%= productos[i].id %>">
                <div class="detalleProducto">
                    <img class="crearImg" src="/imgProducts/<%= productos[i].imagen%>">

                    <div class="contenido">
                        <div class="tituloPrecio">
                            <h2 class="nombreProducto"><%= productos[i].nombre %></h2>
                            <p class="precioProducto">$ <%= productos[i].precio %></p>
                        </div>
                    </div>
                </div>
            </a>
            <%}%>
        <% }else{ %>
            <a class="aProduct" href="/products/create">
                <div class="detalleProducto">
                    <img class="crearImg" src="/img/agregarIcon3.png">
    
                    <div class="contenido">
                        <div class="tituloPrecio">
                            <h2 class="nombreProducto">¿Quieres agregar un producto?</h2>
                            <p class="precioProducto">Crear Nuevo</p>
                        </div>
                    </div>
                </div>
            </a>


        <% for (let i = 0; i < productos.length; i++) { %>
            <a class="aProduct" href="/products/<%= productos[i].id %>">
                <div class="detalleProducto">
                    <img class="crearImg" src="/imgProducts/<%= productos[i].imagen%>">

                    <div class="contenido">
                        <div class="tituloPrecio">
                            <h2 class="nombreProducto"><%= productos[i].nombre %></h2>
                            <p class="precioProducto">$ <%= productos[i].precio %></p>
                        </div>
                    </div>
                </div>
            </a>
            <%}%>
        <%}%>
        
</div>
<!------REDES SOCIALES DESKTOP------>
    <div class="container">
        <article class="redesDesktop">
            <a class="facebook" href="#"><i class="fab fa-facebook-square"></i></a>
            <a class="whatsapp" href="#"><i class="fab fa-whatsapp"></i></a>
            <a class="instagram" href="#"><i class="fab fa-instagram"></i></a>
        </article>
    </div>

<!------FOOTER DESKTOP AND MOBILE------>
    <%- include("../partials/footer.ejs") %>
</body>
</html>