<!DOCTYPE html>
<html>
<!------HEAD------>
    <head>
        <%- include("../partials/head.ejs") %>
        <link rel='stylesheet' type='text/css' media='screen' href='/css/style.css'>
    </head>
<body>

<!------HEADER DESKTOP AND MOBILE------>
<%- include("../partials/header.ejs") %>

<!------SECTION BAR. DE NAV. DESKTOP------>
<%- include("../partials/barraDeNavegacion.ejs") %>

<!------LISTADO DE PREDUCTOS------>
<h2>Listado de Productos</h2>
<div class="container">

    <% for (let i = 0; i < productos.length ; i++) { %>
        <a class="aProduct" href="#">
            <article class="product">
                <div class="productConteiner">
                    <img src="/imgProducts/<%= productos[i].imagen%>">
                    <div class="detalle">
                        <h3 class="nombre"><%= productos[i].nombre %></h3>
                        <h1>$ <%= productos[i].precio %></h1>
                    </div>
                </div>
            </article>
        </a>
        <hr>
        <% } %>
        
</div>
<!------REDES SOCIALES DESKTOP------>
    <div class="container">
        <article class="redesDesktop">
            <a class="facebook" href="#"><i class="fab fa-facebook-square"></i></a>
            <a class="whatsapp" href="#"><i class="fab fa-whatsapp"></i></a>
            <a class="instagram" href="#"><i class="fab fa-instagram"></i></a>
        </article>
    </div>

<!------FOOTER DESKTOP AND MOBILE------>
    <%- include("../partials/footer.ejs") %>
</body>
</html>