<!DOCTYPE html>
<html>
<!------HEAD------>
    <head>
        <%- include("../partials/head.ejs") %>
        <link rel='stylesheet' type='text/css' media='screen' href='/css/style.css'>
    </head>
<body>

<!------HEADER DESKTOP AND MOBILE------>
<%- include("../partials/header.ejs") %>

<!------SECTION BAR. DE NAV. DESKTOP------>
<%- include("../partials/barraDeNavegacion.ejs") %>

<!------LISTADO DE PRODUCTOS DESKTOP ------>
<section class="listadoProductos">
    <h2>Listado de Productos</h2>
    <div class="container">
        <div class="filaProductos">
        <% for (let i = 0; i < productos.length ; i++) { %>
            <div>
                <a class="logo" href="">
                    <img src="/img/producto.jpg">
                    <!-- <img src="<%= /*productos[i].imagen*/%>"> -->
                    <p> <%= productos[i].nombre %> </p> 
                    <p> <%= productos[i].precio %> </p>
                </a>
            </div>
            <% } %> 
        </div>
    </div>
</section>

<!------LISTADO DE PRODUCTOS MOBILE ------>
<section class="listadoProductosMobile">
    <h2>Listado de Productos</h2>
    <div class="container">
        <div class="filaProductosMobile">
            <% for (let i = 0; i < productos.length ; i++) { %>
                <div class="singleProduct">
                    <a class="productoMobile" href="#">
                        <img src="/img/producto.jpg">
                        <!-- <img src="<%= /*productos[i].imagen*/%>"> -->
                        <p> <%= productos[i].nombre %> </p> 
                        <p> <%= productos[i].precio %> </p>
                    </a>
                </div>
                <% } %> 
        </div>
    </div>
</section>

<!------REDES SOCIALES DESKTOP------>
    <div class="container">
        <article class="redesDesktop">
            <a class="facebook" href="#"><i class="fab fa-facebook-square"></i></a>
            <a class="whatsapp" href="#"><i class="fab fa-whatsapp"></i></a>
            <a class="instagram" href="#"><i class="fab fa-instagram"></i></a>
        </article>
    </div>

<!------FOOTER DESKTOP AND MOBILE------>
    <%- include("../partials/footer.ejs") %>
</body>
</html>