<!------HEADER DESKTOP------>
<div class="container">    
    <header class="desktop">
        <a class="logo" href="/"><img src="/img/logo_B&B.jpg"></a>
        <form action="/search">
            <input type="text" name="search" placeholder="Encuentra lo que estas buscando">
            <button type="submit"><i class="fas fa-search"></i></button>
        </form>
        <% if(typeof usuarioLogueado == 'undefined') { %>
            <nav class="default">
                <ul class="default">
                    <li><a href="login">Login</a></li>
                    <li><a href="register">Registro</a></li>
                    <li><a href="#">Contacto</a></li>
                </ul>
            </nav>
        <% } else { %>
            <nav class="sessionOk">
                <ul class="sessionOk">
                    <a class="perfil" href="/perfil/<%= usuarioLogueado.id%>">
                        <li class="userAvatar"><img src="imgAvatar/<%= usuarioLogueado.avatar %>"></li>
                        <li class="userName">Bienvenido <%= usuarioLogueado.nombre %></li>
                    </a>
                    <li class="contacto"><a class= "contacto" href="#">Contacto</a></li>
                    <li class="cierreSesion">
                        <form action="" method="POST">
                            <button class= "cierreDeSesion" onclick="closeSession('<%= usuarioLogueado.id %>')">Cerrar sesión</button>
                        </form>
                    </li>
                </ul>
            </nav>
              
            <% } %>
    </header>
</div>
<!------HEADER MOBILE------>
<header class="mobile">
    <div class="headerMobileArriba">
        
        <a href="/" class=logo ><img src="/img/logo_B&B.jpg"></a>
        
        <div class="iconos">
            
            <a class="searchIcon" id="searchIcon">
                <i class="fas fa-search"></i>
            </a>

            <% if(typeof usuarioLogueado == 'undefined') { %>
            <a href="/login" class="userIcon"><i class="far fa-user-circle"></i></a>
            <% } else { %>
            <a href="/perfil/<%= usuarioLogueado.id%>" class="userAvatarMobile"><img src="imgAvatar/<%= usuarioLogueado.avatar %>"></a>    
            <% } %>

        </div>

    </div>

    <form id="searchBar" action="/search">
        <input type="text" name="search" id="search" placeholder="Encuentra lo que estas buscando">
        <button type="submit"><i class="fas fa-search"></i></button>
    </form>
</header>