<!DOCTYPE html>
<html lang="en">
<!------HEAD------>
<head>
    <%- include("../partials/head.ejs") %>
    <link rel='stylesheet' type='text/css' media='screen' href='/css/style.css'>
</head>
<body>

<!------HEADER DESKTOP AND MOBILE------>
<%- include("../partials/header.ejs") %>
    
<!------SECTION BAR. DE NAV. DESKTOP------>
<%- include("../partials/barraDeNavegacion.ejs") %>
    
    <!-- FORM DE INGRESO -->
    <section class="ingreso">
        <h1>INGRESO</h1>
        <br>
        <h4>Por favor ingresa los datos con los que te registraste:</h4>
        <br>
        <%if (typeof errors != "undefined") { %>
            <p class="errorP">ERROR</p>
            <ul class="errorUl">
                <% for(let i = 0; i < errors.length; i++){ %>
                    <li class="errorLi">
                        <%= errors[i].msg%>
                    </li>
               <% } %>
            </ul>
        
            <% } %>
        <form action="/login" method="POST">
            <label for="email">Email:</label>
            <br>
            <input type="email" name="email" id="email">
            <br>
            <br>
            <label for= "contraseña" >Contraseña:</label>
            <br>
            <input type="password" name="contraseña" id="contraseña">
            <br>
            <br>
            <input type="submit" value="Ingresar">
            <br>
            <br>
            <label>
            <input type="checkbox" checked="checked" name="recordar">Recordar mi contraseña
            </label>
        </form>
        <br>
        <h6>¿Has olvidado tu contraseña?</h6>
    </section>
    
    
    
    <!------REDES SOCIALES DESKTOP------>
    <div class="container">
        <article class="redesDesktop">
            <a class="facebook" href="#"><i class="fab fa-facebook-square"></i></a>
            <a class="whatsapp" href="#"><i class="fab fa-whatsapp"></i></a>
            <a class="instagram" href="#"><i class="fab fa-instagram"></i></a>
        </article>
    </div>
<!------FOOTER DESKTOP AND MOBILE------>
<%- include("../partials/footer.ejs") %>
</body>
</html>