<!DOCTYPE html>
<html lang="en">
<!------HEAD------>
<head>
    <%- include("../partials/head.ejs") %>
    <link rel='stylesheet' type='text/css' media='screen' href='/css/style.css'>
</head>
<body>

<!------HEADER DESKTOP AND MOBILE------>
<%- include("../partials/header.ejs") %>
    
<!------SECTION BAR. DE NAV. DESKTOP------>
<%- include("../partials/barraDeNavegacion.ejs") %>
    
    <!------TITULAR PERFIL MOBILE------>
    <section class="tituloPerfil">
        <img class="imgPerfil" src="/imgAvatar/<%= usuario.avatar%>">

        <h1 class="h1Perfil">Bienvenido <%= usuario.nombre%></h1>
    </section>

    <!------TITULAR PERFIL DESKTOP------>
    <section class="tituloPerfilDesk">
        <img class="imgPerfilDesk" src="/imgAvatar/<%=usuario.avatar%>">

        <h1 class="h1PerfilDesk">Bienvenido <%= usuario.nombre%></h1>
    </section>

    <!------FORM EDIT PERFIL------>
    <section class="sectionPerfil">
        <h1 class="h1SectionPerfil" >datos de cuenta</h1>
        <br>        
            
        <p class="pSectionPerfil">¿Quieres editar tus datos?</p>
        <br>
            
        <form class="formEditPerfil" id="form_perfil" action="/perfil/<%= usuario.id%>/edit?_method=PUT" method="POST" enctype="multipart/form-data">
            <label id="id" for="id">ID:</label>
            <input id= "id" name="id" type="number" value="<%= usuario.id %>" readonly>
                
            <small style="color: red">
                <%= (typeof errores != "undefined" && errores.nombre) ? errores.nombre.msg : '' %>
            </small>
            <label for="nombre">Nombre:</label>
            <input id= "nombre_perfil" name="nombre" type="text" value="<%= usuario.nombre%>">
                
            <small style="color: red">
                <%= (typeof errores != "undefined" && errores.apellido) ? errores.apellido.msg : '' %>
            </small>
            <label for="apellido">Apellido:</label>
            <input id= "apellido_perfil" name="apellido" type="text" value="<%= usuario.apellido%>">
                
            <small style="color: red">
                <%= (typeof errores != "undefined" && errores.email) ? errores.email.msg : '' %>
            </small>
            <label for="email">Email:</label>
            <input id= "email_perfil" name="email" type="text" value="<%= usuario.email%>">
                
            <small style="color: red">
                <%= (typeof errores != "undefined" && errores.avatar) ? errores.avatar.msg : '' %>
            </small>
            <label for="avatar">Avatar:</label>
            <input id="avatar_perfil" type="file" name="avatar" value="<%= usuario.avatar%>">
            
            <p class="pFormEditPerfil">¿Quieres cambiar la contraseña?</p>
            <small class="smallFormPerfil">(completa solamente si quieres cambiarla)</small>
            <small style="color: red">
                <%= (typeof errores != "undefined" && errores.contraseña) ? errores.contraseña.msg : '' %>
            </small>
            <label for="contraseña">Contraseña Nueva:</label>
            <input id= "contraseñaNueva_perfil" name="contraseña" type="password">
                
            <small style="color: red">
                <%= (typeof errores != "undefined" && errores.repassword) ? errores.repassword.msg : '' %>
            </small>
            <label for="repassword">Repite la Contraseña:</label>
            <input id= "repassword_perfil" name="repassword" type="password">
            <br>
            <br>

            <small style="color: red">
                <%= (typeof errores != "undefined" && errores.contraseñaActual) ? errores.contraseñaActual.msg : '' %>
            </small>
            <label for="contraseñaActual">Para confirmar los cambios ingresa tu contraseña:</label>
            <input id= "contraseñaActual_perfil" name="contraseñaActual" type="password">
                
            <input id="boton_perfil" class="inputEditar" type="submit" value="Editar">
        </form>

            <!------FORM DELETE PERFIL------>
        <p class="pDeletePerfil">¿Quieres desactivar tu cuenta?</p>
           
        <form class="formDeletePerfil" action="/perfil/<%= usuario.id %>/delete?_method=DELETE" method="POST" enctype="multipart/form-data">
            <a href="/perfil/<%= usuario.id %>/delete"><button id="deleteButton">Desactivar Cuenta</button></a>    
        </form>

    </section>
        
        <!------REDES SOCIALES DESKTOP------>
    <div class="container">
        <article class="redesDesktop">
            <a class="facebook" href="#"><i class="fab fa-facebook-square"></i></a>
            <a class="whatsapp" href="#"><i class="fab fa-whatsapp"></i></a>
            <a class="instagram" href="#"><i class="fab fa-instagram"></i></a>
        </article>
    </div>
<!------FOOTER DESKTOP AND MOBILE------>
<%- include("../partials/footer.ejs") %>
<script src="/js/formValidation.js"></script>
</body>
</html>