<!DOCTYPE html>
<html lang="en">
<!------HEAD------>
<head>
    <%- include("../partials/head.ejs") %>
    <link rel='stylesheet' type='text/css' media='screen' href='/css/style.css'>
</head>
<body>

<!------HEADER DESKTOP AND MOBILE------>
<%- include("../partials/header.ejs") %>
    
<!------SECTION BAR. DE NAV. DESKTOP------>
<%- include("../partials/barraDeNavegacion.ejs") %>
    
    <!------FORM DE REGISTRO------>
    
    <h1>Formulario de registro</h1>
    <br>
    <h2>Completa los datos:</h2>
    <br>
    <section class="form">
        <form id="form_register" action="" method="POST" enctype="multipart/form-data">
            <div>
            <div>
                <small style="color: red">
                    <%= (typeof errores != "undefined" && errores.nombre) ? errores.nombre.msg : '' %>
                </small>
                <div>
                    <label for="nombre">Nombre</label>
                    <input id="nombre_register" name="nombre" type="text">
                </div>
            </div>
            <div>
                <small style="color: red">
                    <%= (typeof errores != 'undefined' && errores.apellido) ? errores.apellido.msg : '' %>
                </small>
                <div>
                    <label for="apellido">Apellido</label>
                    <input id="apellido_register" name="apellido" type="text">
                </div>
            </div>
            <div>
                <small style="color: red">
                    <%= (typeof errores != 'undefined' && errores.email) ? errores.email.msg : '' %>
                </small>
                <div>
                    <label for="email">Email</label>
                    <input id="email_register" name="email" type="email">
                </div>
            </div>
            <div>
                <small style="color: red">
                    <%= (typeof errores != 'undefined' && errores.contraseña) ? errores.contraseña.msg : '' %>
                </small>
                <div>
                    <label for="contraseña">Contraseña</label>
                    <input id="contraseña_register" name="contraseña" type="password">
                </div>
            </div>
            <div>
                <small style="color: red">
                    <%= (typeof errores != 'undefined' && errores.repassword) ? errores.repassword.msg : '' %>
                </small>
                <div>
                    <label for="repassword">Repite la contraseña</label>
                    <input id="repassword_register" name="repassword" type="password">
                </div>
            </div>
            <div>
                <small style="color: red">
                    <%= (typeof errores != 'undefined' && errores.avatar) ? errores.avatar.msg : '' %>
                </small>
                <div>
            <div>
                <label for="avatar">Avatar</label>
                <input type="file" name="avatar" id="avatar_register">
            </div>            
            <br>
            <button id="boton_register" type="submit">Enviar</button>
        </form>
    </section>
    
    <!------REDES SOCIALES DESKTOP------>
    <div class="container">
        <article class="redesDesktop">
            <a class="facebook" href="#"><i class="fab fa-facebook-square"></i></a>
            <a class="whatsapp" href="#"><i class="fab fa-whatsapp"></i></a>
            <a class="instagram" href="#"><i class="fab fa-instagram"></i></a>
        </article>
    </div>
<!------FOOTER DESKTOP AND MOBILE------>
<%- include("../partials/footer.ejs") %>
<script src="/js/formValidation.js"></script>
</body>
</html>