<!DOCTYPE html>
<html lang="en">
<!------HEAD------>
<head>
    <%- include("../partials/head.ejs") %>
    <link rel='stylesheet' type='text/css' media='screen' href='/css/style.css'>
</head>
<body>

<!------HEADER DESKTOP AND MOBILE------>
<%- include("../partials/header.ejs") %>
    
<!------SECTION BAR. DE NAV. DESKTOP------>
<%- include("../partials/barraDeNavegacion.ejs") %>
    
    <!------FORM DE REGISTRO------>
    
    <h1>Formulario de registro</h1>
    <br>
    <h2>Completa los datos:</h2>
    <br>
    <%if (typeof errores != "undefined") { %>
        <p class="errorP">ERROR</p>
        <ul class="errorUl">
            <% for(let i = 0; i < errores.length; i++){ %>
                <li class="errorLi">
                    <%= errores[i].msg%>
                </li>
           <% } %>
        </ul>
    
        <% } %>
    <section class="form">
        <form action="" method="POST" enctype="multipart/form-data">
            <div class="id">
                <label for="id">ID:</label>
                <input id= "id" name="id" type="number" value="<%= usuariosJson.length + 1 %>" readonly>
            </div>
            <div>
            <div>
                <label for="nombre">Nombre</label>
                <input id="nombre" name="nombre" type="text">
            </div>
            <div>
                <label for="apellido">Apellido</label>
                <input id="apellido" name="apellido" type="text">
            </div>
            <div>
                <label for="email">Email</label>
                <input id="email" name="email" type="email">
            </div>
            <div>
                <label for="contraseña">Contraseña</label>
                <input id="contraseña" name="contraseña" type="password">
            </div>
            <div>
                <label for="repassword">Repite la contraseña</label>
                <input id="repassword" name="repassword" type="password">
            </div>
            <div>
                <label for="avatar">Avatar</label>
                <input type="file" name="avatar" id="avatar">
            </div>            
            <br>
            <button type="submit">Enviar</button>
        </form>
    </section>
    
    <!------REDES SOCIALES DESKTOP------>
    <div class="container">
        <article class="redesDesktop">
            <a class="facebook" href="#"><i class="fab fa-facebook-square"></i></a>
            <a class="whatsapp" href="#"><i class="fab fa-whatsapp"></i></a>
            <a class="instagram" href="#"><i class="fab fa-instagram"></i></a>
        </article>
    </div>
<!------FOOTER DESKTOP AND MOBILE------>
<%- include("../partials/footer.ejs") %>
</body>
</html>